
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwrightTestRunner/example/
/playwrightTestRunner/html-results
# Allure report
allure-report/
allure-results/
cucumber-report.html
step-definitions/e2e/support/.DS_Store
.DS_Store
